

<table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="userNameMentee">Mentee</th>
      <th mat-sort-header="activityType">Activity Type</th>
      <th mat-sort-header="activityDate">Activity Date</th>
    </tr>
  
    <tr *ngFor="let activity of activities">
      <td>{{activity.userNameMentee}}</td>
      <td>{{activity.activityType}}</td>
      <td>{{activity.activityDate | date: 'MM/dd/yyyy'}}</td>
    </tr>
</table>
<p></p>

<div *ngIf="person.totalPoints" >
<div *ngIf="person.totalPoints == 0" >
    Congrats for just starting! 
   <p></p> <img src="/src/assets/level0.png">
</div>
<div *ngIf="person.totalPoints == 5" >
    Your current angel level is: Angel Level 1
   <p></p> <img src="/src/assets/level1.png">
</div>

<div *ngIf="person.totalPoints == 10" >
    Your current angel level is: Angel Level 2
   <p></p> <img src="/src/assets/level3.png">
</div>

<div *ngIf="person.totalPoints == 15" >
    Your current angel level is: Angel Level 3
   <p></p> <img src="/src/assets/level4.png">
</div>

<div *ngIf="person.totalPoints == 20" >
    Your current angel level is: Angel Level 4
   <p></p> <img src="/src/assets/level5.png">
</div>

<div *ngIf="person.totalPoints == 25" >
    Your current angel level is: Guardian Angel!
   <p></p> <img src="/src/assets/level5.png">
</div>

<div *ngIf="person.totalPoints == 30" >
    Your current angel level is: Arch Angel!
   <p></p> <img src="/src/assets/level6.png">
</div>
</div>
